html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #D8D8D8;
}

form {
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #CED4DA;
    background-image: url("static/racoon.jpg");
}

form h1 {
    font-size: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border-radius: 5px;
    opacity: 70%;
    color: #FFFFFF;
}

form p {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border-radius: 5px;
    opacity: 70%;
    color: #FFFFFF;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="id"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-floating {
    opacity: 70%;
}

.w-100,
.btn,
.btn-lg,
.btn-dark {
    opacity: 80%;
}